doctype html
block variables
html(lang="ja")
	head
		meta(charset="utf-8")
		block head
		meta(name="viewport", content="width=device-width")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="format-detection", content="telephone=no")
		link(rel="stylesheet", href="common.css")
		block styles
	body
		div.container
			include ../_includes/header
			block contents
			include ../_includes/footer
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")
		script(src="/js/app.min.js")
		block scripts
